<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index,nofollow" />
<meta name="copyright" content="Copyright © 2015" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google" content="notranslate" />

<title>Kontak Kami | KESAN</title>

<meta name="title" content="Kontak Kami | KESAN" />
<meta name="keywords"       content="KESAN,Kesan APP,Kedaulatan Santri,Aplikasi Kedaulatan Santri dan Kepribadian Muslim,muslim,kepribadian,aplikasi islami,karya anak negeri,gratis,bebas iklan,santri,purna santri,umat,islam,Kontak Kami" />
<meta name="url"            content="https://kesan.id/contact" />
<meta name="description"    content="KESAN adalah aplikasi Islami karya anak negeri terlengkap, gratis, dan bebas iklan yang didesain khusus untuk menemani para santri, purna santri, dan segenap umat Islam setiap saat." />

<meta name="twitter:card" content="Kontak Kami">
<meta name="twitter:site" content="@kesan_app" />
<meta name="twitter:creator" content="@kesan_app" />
<meta name="twitter:url" content="https://kesan.id/contact">
<meta name="twitter:title" content="Kontak Kami">
<meta name="twitter:description" content="KESAN adalah aplikasi Islami karya anak negeri terlengkap, gratis, dan bebas iklan yang didesain khusus untuk menemani para santri, purna santri, dan segenap umat Islam setiap saat.">
<meta name="twitter:image" content="https://kesan.id/images/logo.png">

<meta property="og:title" content="Kontak Kami" />
<meta property="og:site_name" content="KESAN"/>
<meta property="og:type" content="article" />
<meta property="og:url" content="https://kesan.id/contact" />
<meta property="og:description" content="KESAN adalah aplikasi Islami karya anak negeri terlengkap, gratis, dan bebas iklan yang didesain khusus untuk menemani para santri, purna santri, dan segenap umat Islam setiap saat." />
<meta name="author"         content="@kesan">
<meta name="csrf-token"     content="PWYswy568jMFUTE9GpcsmPmxm30AZoiISWqtEqbs" />
<meta name="image:Logo"     content="https://kesan.id/images/logo.png"/>
<meta property="og:image"   content="https://kesan.id/images/logo.png"/>

<link rel="icon" href="https://kesan.id/images/icon-kesan.ico">

<link rel="canonical" href="" />    

<link rel="apple-touch-icon" sizes="57x57" href="dist/images/fav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="dist/images/fav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="dist/images/fav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="dist/images/fav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="dist/images/fav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="dist/images/fav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="dist/images/fav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="dist/images/fav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="dist/images/fav/apple-icon-180x180.png">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://kesan.id/images/logo.png">
<meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Signika:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kesan.id/css/pages.css" as="style">
    <link rel="stylesheet" href="https://kesan.id/vendor/sweet-alert/sweet-alert.css" rel="stylesheet" type="text/css"/>

<script async src="https://kesan.id/js/lazysizes.js" ></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-T4WK8K2');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4WK8K2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <header class="global-header" >
    <div class="container">
        <div class="header-content flex items-center content-between">
            <div class="header-content__logo">
                <figure class="logo">
                    <a href="https://kesan.id">
                        <img src="https://kesan.id/images/logo.svg" alt="KESAN Aplikasi untuk Kedaulatan Santri dan Segenap Anak Negeri">
                    </a>
                </figure>
            </div>
            <nav class="header-content__navigation flex items-center">
                <a href="https://kesan.id">Utama</a>
                <a href="https://kesan.id/feed">Berita</a>
                <a href="https://kesan.id/sahaja">Ramadhan Bersih Bersahaja</a>
                <a href="https://kesan.id/contact">Kontak</a>
            </nav>
            <div class="header-content__cta flex items-center">
                <div class="download">
                    <a href="https://play.google.com/store/apps/details?id=com.kesan.android" target="_blank">
                        <img data-src="https://kesan.id/images/google.svg" alt="" class="lazyload">
                    </a>
                    <a href="https://apps.apple.com/us/app/kesan/id1479939730" target="_blank">
                        <img data-src="https://kesan.id/images/apple.svg" alt="" class="lazyload">
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>

<button id="toggleMenu" aria-label="open menu navigation">
    <div>
        <span></span>
    </div>
</button>
    
        
    <header class="header-page">
        <div class="container container--small">
            <div class="items flex items-center">
                <h1 class="title">Kontak Kami</h1>
            </div>
        </div>
    </header>

    <section class="section-page section-page--contact">
        <div class="container container--small">
            <div class="box-contact">
                <div class="flex items wrap">
                    <div class="item-8 m:item-12">
                        <form method="post" action="https://kesan.id/send-message">
                            <input type="hidden" name="_token" value="PWYswy568jMFUTE9GpcsmPmxm30AZoiISWqtEqbs">                            <p class="p-b-4">
                                    Masukan atau kritik membangun yang membawa pada perbaikan akan kami berikan imbalan. Salam dari kami di KESAN.
                            </p>
                            <div class="field">
                                <label for="name">Nama Lengkap</label>
                                <input type="text" name="name" id="name" placeholder="Tulis nama di sini..." class="field-style" required>
                                                            </div>
                            
                            <div class="field">
                                <label for="email">Tulis email aktif</label>
                                <input type="email" name="email" id="email" placeholder="Tulis email di sini..." class="field-style" required>
                            </div>
                                                    
                            
                                                    
                            <div class="field">
                                <label for="message">Pesan kamu</label>
                                <textarea name="message" id="message" class="field-style" placeholder="Tulis pesan di sini..." required></textarea>
                            </div>

                            <div class="field">
                                <div data-sitekey="6LfQfZkUAAAAAOeREoJnqB1mtp7KTHh4PpDHRrik" class="g-recaptcha"></div>
                            </div>
                            
                            <div class="field">
                                <button type="submit" class="btn-primary">Kirim pesan</button>
                            </div>
                            
                        </form>
                    </div>
                    <div class="item-4 m:item-12">
                        <div class="box-info">
                            Tautan yang mungkin kamu butuhkan:
                            <nav>
                                <ul class="help">
                                    <li class="flex items-center">
                                        <div class="icon">
                                            <object data="https://kesan.id/images/message.svg" type=""></object>
                                        </div>
                                        <a href="https://kesan.id/faq" class="btn-transparent icon-right content-between">
                                            <span>F A Q</span>
                                            <object data="https://kesan.id/images/chevron-right.svg" type="image/svg+xml"></object>
                                        </a>
                                    </li>
                                    
                                    <li class="flex items-center">
                                        <div class="icon">
                                            <object data="https://kesan.id/images/privacy.svg" type=""></object>
                                        </div>
                                        <a href="https://kesan.id/terms-conditions" class="btn-transparent icon-right content-between">
                                            <span>Syarat &amp; ketentuan</span>
                                            <object data="https://kesan.id/images/chevron-right.svg" type="image/svg+xml"></object>
                                        </a>
                                    </li>

                                    <li class="flex items-center">
                                        <div class="icon">
                                            <object data="https://kesan.id/images/terms.svg" type=""></object>
                                        </div>
                                        <a href="https://kesan.id/privacy-policy" class="btn-transparent icon-right content-between">
                                            <span>Kebijakan Privasi</span>
                                            <object data="https://kesan.id/images/chevron-right.svg" type="image/svg+xml"></object>
                                        </a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="main-footer">
    <div class="container container-heading">
        <div class="items flex wrap">
            <div class="item-3 m:item-12">
                <figure class="logo-footer m-b-2">
                    <object data="https://kesan.id/images/logo.svg" type="image/svg+xml" alt="Aplikasi untuk Kedaulatan Santri dan Segenap Anak Negeri"></object>
                </figure>
            </div>
            <div class="item-1 m:item-6">
                <h3>KESAN</h3>
                <ul>
                    <li>
                        <a href="https://kesan.id">Utama</a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/feed">Berita</a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/contact">Kontak</a>
                    </li>

                    
                </ul>
            </div>
            
            <div class="item-2 m:item-6">
                <h3>UMUM</h3>
                <ul>
                    <li>
                        <a href="https://kesan.id/faq">F A Q</a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/terms-conditions">Syarat &amp; Ketentuan </a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/privacy-policy">Kebijakan Privasi </a>
                    </li>
                </ul>
            </div>

            <div class="item-3 m:item-12 follow">
                <h3>IKUTI KAMI</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/Kedaulatan-Santri-KESAN-2340941629517720/" class="social-media flex items-center" target="_blank">
                            <object data="https://kesan.id/images/socmed/facebook.svg" type="image/svg+xml" alt="Ikuti kami di facebook"></object>
                            <span>KESAN Kedaulatan Santri</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.instagram.com/kesan_app" class="social-media flex items-center" target="_blank">
                            <object data="https://kesan.id/images/socmed/instagram.svg" type="image/svg+xml" alt="Ikuti kami di instagram"></object>
                            <span>@kesan_app</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/kesan_app" class="social-media flex items-center" target="_blank">
                            <object data="https://kesan.id/images/socmed/twitter.svg" type="image/svg+xml" alt="Ikuti kami di twitter"></object>
                            <span>@kesan_app</span>
                        </a>
                    </li>
                    

                </ul>
            </div>

            <div class="item-3 m:item-12">
                <div class="flex warp content-between direction-column m:items-center">
                    <h3>UNDUH KESAN</h3>
                    <div class="box-download flex items-center">
                        <a href="https://play.google.com/store/apps/details?id=com.kesan.android" target="_blank" class="m-r-2">
                            <img src="https://kesan.id/images/google.svg" alt="">
                        </a>
                        <a href="https://apps.apple.com/us/app/kesan/id1479939730" target="_blank">
                            <img src="https://kesan.id/images/apple.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container foot-note">
        <div class="flex warp content-center">
            Copyright ©2019 KESAN made with mawaddah
        </div>
    </div>
</footer>
    
    <section class="banner-app is-show">
        <div class="box-banner-app flex">
            <a href="" class="flex items-center content-between">
                <div class="icon-app">
                    
                </div>
                <strong>Buka aplikasi KESAN</strong>
            </a>
            <button id="buttonCloseBanner" aria-label="tutup informasi download kesan">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 5L5 19" stroke="#697784" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5 5L19 19" stroke="#697784" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </section>
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136833084-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136833084-1');
    </script>

    
    <script src="https://kesan.id/vendor/sweet-alert/sweetalert.min.js" type="text/javascript"></script>
    
    <script src="https://www.google.com/recaptcha/api.js?hl=id" async defer></script>


    
    <script type="text/javascript">
        const nav = document.querySelector('.global-header');
        nav.classList.add('is-fixed');


            </script>
    
    <script type="text/javascript">
    
        var btnMenu = document.querySelector('#toggleMenu')
        var containerMenu = document.querySelector('.header-content__navigation')
        var body = document.querySelector('body')

        btnMenu.onclick = function() {
            containerMenu.classList.toggle('is-show')
            btnMenu.classList.toggle('is-active')
            body.classList.toggle('no-scroll')
        }
        
        

        var btnCloseBanner = document.getElementById('buttonCloseBanner')

        btnCloseBanner.onclick = function() {
            document.querySelector('.banner-app').classList.remove('is-show')
        }


    </script>
</body>
</html>