<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index,nofollow" />
<meta name="copyright" content="Copyright © 2015" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google" content="notranslate" />

<title>Sahaja | KESAN</title>

<meta name="title" content="Sahaja | KESAN" />
<meta name="keywords"       content="KESAN,Kesan APP,Kedaulatan Santri,Aplikasi Kedaulatan Santri dan Kepribadian Muslim,muslim,kepribadian,aplikasi islami,karya anak negeri,gratis,bebas iklan,santri,purna santri,umat,islam,Sahaja" />
<meta name="url"            content="https://kesan.id/sahaja" />
<meta name="description"    content="KESAN adalah aplikasi Islami karya anak negeri terlengkap, gratis, dan bebas iklan yang didesain khusus untuk menemani para santri, purna santri, dan segenap umat Islam setiap saat." />

<meta name="twitter:card" content="Sahaja">
<meta name="twitter:site" content="@kesan_app" />
<meta name="twitter:creator" content="@kesan_app" />
<meta name="twitter:url" content="https://kesan.id/sahaja">
<meta name="twitter:title" content="Sahaja">
<meta name="twitter:description" content="KESAN adalah aplikasi Islami karya anak negeri terlengkap, gratis, dan bebas iklan yang didesain khusus untuk menemani para santri, purna santri, dan segenap umat Islam setiap saat.">
<meta name="twitter:image" content="https://kesan.id/images/logo.png">

<meta property="og:title" content="Sahaja" />
<meta property="og:site_name" content="KESAN"/>
<meta property="og:type" content="article" />
<meta property="og:url" content="https://kesan.id/sahaja" />
<meta property="og:description" content="KESAN adalah aplikasi Islami karya anak negeri terlengkap, gratis, dan bebas iklan yang didesain khusus untuk menemani para santri, purna santri, dan segenap umat Islam setiap saat." />
<meta name="author"         content="@kesan">
<meta name="csrf-token"     content="PWYswy568jMFUTE9GpcsmPmxm30AZoiISWqtEqbs" />
<meta name="image:Logo"     content="https://kesan.id/images/logo.png"/>
<meta property="og:image"   content="https://kesan.id/images/logo.png"/>

<link rel="icon" href="https://kesan.id/images/icon-kesan.ico">

<link rel="canonical" href="" />    

<link rel="apple-touch-icon" sizes="57x57" href="dist/images/fav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="dist/images/fav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="dist/images/fav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="dist/images/fav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="dist/images/fav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="dist/images/fav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="dist/images/fav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="dist/images/fav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="dist/images/fav/apple-icon-180x180.png">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://kesan.id/images/logo.png">
<meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Signika:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kesan.id/css/pages.css" as="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    <style type="text/css">
        .custom-pagination > ul {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
        }
        .custom-pagination .pagination ul li.disabled span {
            background-color: transparent;
        }
        .custom-btn-sahaja{
            color: #0e76a8;
        }
        /*.pagination ul li span {*/
        /*    background-color: #0e76a8 !important;*/
        /*    border-color: #0e76a8 !important;*/
        /*}*/
        .btn-primary {
            background-color: #0e76a8 !important;
            box-shadow: 0 4px 15px -4px #2191cd !important;
            border-radius: 20px;
        }
    </style>


<script async src="https://kesan.id/js/lazysizes.js" ></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-T4WK8K2');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4WK8K2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <header class="global-header" >
    <div class="container">
        <div class="header-content flex items-center content-between">
            <div class="header-content__logo">
                <figure class="logo">
                    <a href="https://kesan.id">
                        <img src="https://kesan.id/images/logo.svg" alt="KESAN Aplikasi untuk Kedaulatan Santri dan Segenap Anak Negeri">
                    </a>
                </figure>
            </div>
            <nav class="header-content__navigation flex items-center">
                <a href="https://kesan.id">Utama</a>
                <a href="https://kesan.id/feed">Berita</a>
                <a href="https://kesan.id/sahaja">Ramadhan Bersih Bersahaja</a>
                <a href="https://kesan.id/contact">Kontak</a>
            </nav>
            <div class="header-content__cta flex items-center">
                <div class="download">
                    <a href="https://play.google.com/store/apps/details?id=com.kesan.android" target="_blank">
                        <img data-src="https://kesan.id/images/google.svg" alt="" class="lazyload">
                    </a>
                    <a href="https://apps.apple.com/us/app/kesan/id1479939730" target="_blank">
                        <img data-src="https://kesan.id/images/apple.svg" alt="" class="lazyload">
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>

<button id="toggleMenu" aria-label="open menu navigation">
    <div>
        <span></span>
    </div>
</button>
    
    
    <header class="header-page">
        <div class="container container--small">
            <div class="flex items-center content-between">
                <h1 class="title">Ramadhan Bersih Bersahaja</h1>
                <div class="">
                    <input id="search" type="text" class="field-style" placeholder="Cari berita di sini..." style="min-width:200px">
                </div>
            </div>
        </div>
    </header>

    <section class="section-page section-page--news">

        <div class="container container--small">
            <div class="items flex warp">
                <div class="item-12">
                    <div class="flex warp">












                    </div>

                    <header class="header-section flex items-center content-between">
                                                    <h2></h2>
                        
                        <div class="header-section__cta">
                            <select name="" id="feed-category" class="field-style" style="min-width:200px">
                                <option value="">Semua Kategori</option>
                                                                <option value="d9aab853-fe69-446e-99de-7c612918574d">Kebersihan Diri</option>
                                                                <option value="61f6d020-d09c-4be3-98bf-c037f2e366b4">Kebersihan Rumah</option>
                                                                <option value="71da803c-cf04-42c8-bf4e-9496a01c7c4f">GMB</option>
                                                            </select>
                        </div>
                    </header>

                                                                        <article class="news flex">
                                <figure class="news__figure">
                                    <a href="https://kesan.id/sahaja/34c45de3-b0f5-4628-b721-412249377085">
                                        <img data-src=https://kesan-storage-staging-2.sgp1.digitaloceanspaces.com/content/thumbnail/default/923b3e00-5ce1-4808-9bef-7f537b06c4c5.jpg alt="" class="lazyload">
                                    </a>
                                </figure>
                                <div class="news__info">
                                    <a href="https://kesan.id/sahaja/34c45de3-b0f5-4628-b721-412249377085" class="link">Islam itu Bersih, Bersih itu Islam </a>
                                    <ul class="meta font-small">
                                        <li>Redaksi KESAN</li>
                                        <li></li>
                                        <li>published</li>
                                    </ul>
                                    <p class="m:hide">Praktik hidup bersih telah dipraktikkan oleh umat Islam sejak dulu. Dalam berbagai kitab hadis ditemukan perintah Nabi Muhammad ﷺ kepada umatnya untuk selalu mencuci tangan, mandi, sikat gigi, serta m... </p>
                                </div>
                            </article>
                            
                                                    <article class="news flex">
                                <figure class="news__figure">
                                    <a href="https://kesan.id/sahaja/1ea0dcb0-091d-46f1-962d-bcfbb4b472b9">
                                        <img data-src=https://kesan-storage-staging-2.sgp1.digitaloceanspaces.com/content/thumbnail/default/bb63aafc-62ed-49e9-8074-236d323e8aaa.jpg alt="" class="lazyload">
                                    </a>
                                </figure>
                                <div class="news__info">
                                    <a href="https://kesan.id/sahaja/1ea0dcb0-091d-46f1-962d-bcfbb4b472b9" class="link">Mukena Bersih, Ibadahmu Khusyuk</a>
                                    <ul class="meta font-small">
                                        <li>Redaksi KESAN</li>
                                        <li></li>
                                        <li>published</li>
                                    </ul>
                                    <p class="m:hide">Banyak wanita muslimah di Indonesia yang mengenakan mukena saat shalat. Bagi mereka mukena adalah bagian tidak terpisahkan dari ibadah shalat itu sendiri. Namun tahukah Sahabat sejarah singkat mukena... </p>
                                </div>
                            </article>
                            
                                                    <article class="news flex">
                                <figure class="news__figure">
                                    <a href="https://kesan.id/sahaja/5d4be1ad-0917-4628-9985-cdb8adf68ac9">
                                        <img data-src=https://kesan-storage-staging-2.sgp1.digitaloceanspaces.com/content/thumbnail/default/a9cf2aef-a909-4364-8882-4affb42f23d7.jpg alt="" class="lazyload">
                                    </a>
                                </figure>
                                <div class="news__info">
                                    <a href="https://kesan.id/sahaja/5d4be1ad-0917-4628-9985-cdb8adf68ac9" class="link">Kebersihan Rumah Berawal dari Lantainya</a>
                                    <ul class="meta font-small">
                                        <li>Redaksi KESAN</li>
                                        <li></li>
                                        <li>published</li>
                                    </ul>
                                    <p class="m:hide">Salah satu cara agar keluarga tetap sehat dan terjaga dari penyakit adalah dengan menjaga lingkungan rumah tetap dalam kondisi bersih. Salah satu bagian rumah yang harus diperhatikan kebersihannya ada... </p>
                                </div>
                            </article>
                            
                                                    <article class="news flex">
                                <figure class="news__figure">
                                    <a href="https://kesan.id/sahaja/f02b363f-3243-4db4-9861-c71e9d10650b">
                                        <img data-src=https://kesan-storage-staging-2.sgp1.digitaloceanspaces.com/content/thumbnail/default/29d3952e-17ff-4d93-8f02-c4120f4846a4.jpg alt="" class="lazyload">
                                    </a>
                                </figure>
                                <div class="news__info">
                                    <a href="https://kesan.id/sahaja/f02b363f-3243-4db4-9861-c71e9d10650b" class="link">Pakaian Favorit Rasulullah ﷺ</a>
                                    <ul class="meta font-small">
                                        <li>Redaksi KESAN</li>
                                        <li></li>
                                        <li>published</li>
                                    </ul>
                                    <p class="m:hide">Rasulullah ﷺ mengajarkan umatnya untuk senantiasa berpakaian bersih, suci, dan rapi. Hal itu bukan hanya saat beribadah, tetapi juga ketika berinteraksi sesama manusia. Pernah suatu ketika Rasulullah... </p>
                                </div>
                            </article>
                            
                                                    <article class="news flex">
                                <figure class="news__figure">
                                    <a href="https://kesan.id/sahaja/202359d3-0a81-4e9d-adde-5809f9c0b691">
                                        <img data-src=https://kesan-storage-staging-2.sgp1.digitaloceanspaces.com/content/thumbnail/default/668b72c5-4a81-4e4a-9ac1-43e0d5a07eae.jpg alt="" class="lazyload">
                                    </a>
                                </figure>
                                <div class="news__info">
                                    <a href="https://kesan.id/sahaja/202359d3-0a81-4e9d-adde-5809f9c0b691" class="link">Adab Berpakaian Rasulullah ﷺ</a>
                                    <ul class="meta font-small">
                                        <li>Redaksi KESAN</li>
                                        <li></li>
                                        <li>published</li>
                                    </ul>
                                    <p class="m:hide">Rasulullah ﷺ adalah panutan dan suri tauladan bagi setiap muslim dalam hal apa pun, termasuk dalam hal berpakaian. Lalu bagaimanakah adab berpakaian yang diajarkan oleh Rasulullah ﷺ itu? Berikut adala... </p>
                                </div>
                            </article>
                            
                                            
                    <!-- <nav class="pagination m-t-4">
                        <ul class="flex items-center content-center">
                            <li>
                                <span>1</span>
                            </li>

                            <li>
                                <a href="">2</a>
                            </li>

                            <li>
                                <a href="">3</a>
                            </li>

                            <li>
                                <a href="">4</a>
                            </li>

                            <li>
                                <a href="">5</a>
                            </li>
                        </ul>
                    </nav> -->

                    <nav class="pagination m-t-4 custom-pagination">
                        <ul class="pagination" role="navigation">
        
                    <li class="page-item disabled" aria-disabled="true" aria-label="&laquo; Previous">
                <span class="page-link" aria-hidden="true">&lsaquo;</span>
            </li>
        
        
                    
            
            
                                                                        <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                <li class="page-item"><a class="page-link" href="sahaja?page=2">2</a></li>
                                                                                <li class="page-item"><a class="page-link" href="sahaja?page=3">3</a></li>
                                                                                <li class="page-item"><a class="page-link" href="sahaja?page=4">4</a></li>
                                                                                <li class="page-item"><a class="page-link" href="sahaja?page=5">5</a></li>
                                                                                <li class="page-item"><a class="page-link" href="sahaja?page=6">6</a></li>
                                                        
        
                    <li class="page-item">
                <a class="page-link" href="sahaja?page=2" rel="next" aria-label="Next &raquo;">&rsaquo;</a>
            </li>
            </ul>

                    </nav>


                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer">
    <div class="container container-heading">
        <div class="items flex wrap">
            <div class="item-3 m:item-12">
                <figure class="logo-footer m-b-2">
                    <object data="https://kesan.id/images/logo.svg" type="image/svg+xml" alt="Aplikasi untuk Kedaulatan Santri dan Segenap Anak Negeri"></object>
                </figure>
            </div>
            <div class="item-1 m:item-6">
                <h3>KESAN</h3>
                <ul>
                    <li>
                        <a href="https://kesan.id">Utama</a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/feed">Berita</a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/contact">Kontak</a>
                    </li>

                    
                </ul>
            </div>
            
            <div class="item-2 m:item-6">
                <h3>UMUM</h3>
                <ul>
                    <li>
                        <a href="https://kesan.id/faq">F A Q</a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/terms-conditions">Syarat &amp; Ketentuan </a>
                    </li>
                    
                    <li>
                        <a href="https://kesan.id/privacy-policy">Kebijakan Privasi </a>
                    </li>
                </ul>
            </div>

            <div class="item-3 m:item-12 follow">
                <h3>IKUTI KAMI</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/Kedaulatan-Santri-KESAN-2340941629517720/" class="social-media flex items-center" target="_blank">
                            <object data="https://kesan.id/images/socmed/facebook.svg" type="image/svg+xml" alt="Ikuti kami di facebook"></object>
                            <span>KESAN Kedaulatan Santri</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.instagram.com/kesan_app" class="social-media flex items-center" target="_blank">
                            <object data="https://kesan.id/images/socmed/instagram.svg" type="image/svg+xml" alt="Ikuti kami di instagram"></object>
                            <span>@kesan_app</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/kesan_app" class="social-media flex items-center" target="_blank">
                            <object data="https://kesan.id/images/socmed/twitter.svg" type="image/svg+xml" alt="Ikuti kami di twitter"></object>
                            <span>@kesan_app</span>
                        </a>
                    </li>
                    

                </ul>
            </div>

            <div class="item-3 m:item-12">
                <div class="flex warp content-between direction-column m:items-center">
                    <h3>UNDUH KESAN</h3>
                    <div class="box-download flex items-center">
                        <a href="https://play.google.com/store/apps/details?id=com.kesan.android" target="_blank" class="m-r-2">
                            <img src="https://kesan.id/images/google.svg" alt="">
                        </a>
                        <a href="https://apps.apple.com/us/app/kesan/id1479939730" target="_blank">
                            <img src="https://kesan.id/images/apple.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container foot-note">
        <div class="flex warp content-center">
            Copyright ©2019 KESAN made with mawaddah
        </div>
    </div>
</footer>
    
    <section class="banner-app is-show">
        <div class="box-banner-app flex">
            <a href="" class="flex items-center content-between">
                <div class="icon-app">
                    
                </div>
                <strong>Buka aplikasi KESAN</strong>
            </a>
            <button id="buttonCloseBanner" aria-label="tutup informasi download kesan">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 5L5 19" stroke="#697784" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5 5L19 19" stroke="#697784" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </section>
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136833084-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136833084-1');
    </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script type="text/javascript">
        const nav = document.querySelector('.global-header');
        nav.classList.add('is-fixed');

        // const page = document.getElementsByClassName('disabled');
        // page[0].innerHTML = '<a style="cursor: default;">...</a>';
        // page[1].innerHTML = '<a styl e="cursor: default;">...</a>';

        // filter category
        document.getElementById("feed-category").addEventListener("change", changeCategory);

        // var a = document.querySelectorAll("#feed-category-each");
        // for (i = 0; i < a.length; i++) {
        //     // a[i].style.backgroundColor = "red";
        //     a[i].addEventListener("click", event=> {
        //         event.preventDefault();
        //         changeCategory(a.getAttribute('href'));
        //     });


        function changeCategory() {
                            var search = '';
            
            var feed_category = document.getElementById("feed-category")
            
            window.location.href = "https://kesan.id/sahaja?"+search+"category_id="+feed_category.options[feed_category.selectedIndex].value;
        }

        
        // search title by keyword
        var search = document.getElementById('search');
        search.onkeyup = function (e) {
                            var category = '';
            
            if (e.keyCode == 13) { // if enter
                window.location.href = "https://kesan.id/sahaja?search="+this.value+category;
            }
        }

        
        // custom pagination link with search and filter
        const page = document.getElementsByClassName('page-item');

                    var search = '';
        
                    var category = '';
        
        for (var i = 0; i < page.length; i++) {
            if (page[i].firstChild.href) {
                var url = page[i].firstChild.href+search+category;
                page[i].firstChild.setAttribute('href', url);
            }
        }

    </script>
    
    <script type="text/javascript">
    
        var btnMenu = document.querySelector('#toggleMenu')
        var containerMenu = document.querySelector('.header-content__navigation')
        var body = document.querySelector('body')

        btnMenu.onclick = function() {
            containerMenu.classList.toggle('is-show')
            btnMenu.classList.toggle('is-active')
            body.classList.toggle('no-scroll')
        }
        
        

        var btnCloseBanner = document.getElementById('buttonCloseBanner')

        btnCloseBanner.onclick = function() {
            document.querySelector('.banner-app').classList.remove('is-show')
        }


    </script>
</body>
</html>